<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Streak Honey">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Streak's professional website">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Streak Honey</title>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Streak Honey</h1>
        <nav  id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()" ></i>
                </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
        <tr><th>Name</th><th>Description</th></tr>
        <tr><td>Buck Design</td><td>IT Intern</td></tr>
        <tr><td>Project Talent Launch</td><td>Co-Founder and CTO</td></tr>
        <tr><td>Election Volunteering</td><td>Phone Banking Volunteer</td></tr>
        <tr><td>Polytechnic HS Cryptocurrency Club</td><td>Co-President</td></tr>
        
        </table>
        <a href="../static/Profile.pdf" target="_blank"> My resume, PDF version</a>
    </div>
    <footer>
        <p id="copyYear">Streak Honey &copy</p>
    </footer>
</body>
</html>